{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
  <h1 class="mb-3">Iniciar sesión</h1>
  <form method="post" class="w-25">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.username.label_tag }}
      {{ form.username|add_class:"form-control" }}
    </div>
    <div class="mb-3">
      {{ form.password.label_tag }}
      {{ form.password|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    <a class="btn btn-primary ms-2" href="{% url 'core:libro_list' %}">Volver</a>
  </form>
{% endblock %}